*{
    box-sizing: border-box;
}

.filter-container{
    position:fixed;
    width:200px;
    box-shadow: 0px 0px 0.75px;
    top:70px;
    left:20px;
    background-color: white;
}
.filter-container h3{
    padding:10px;
}
.filter-box{
    margin-left: 10px;
}
